.post-wrap {
  .post-content {
    margin-bottom: 20px;
    min-height: 500px;
    padding: 14px;
    padding-bottom: 46px;
    position: relative;

    & > h1 {
      margin-bottom: 0;
    }
    .post-detail {
      color: #999;
      font-size: 12px;
      margin-top: 8px;
      margin-bottom: 18px;
      display: flex;
      gap: 10px;
      align-items: center;
    }

    .post-tags {
      position: absolute;
      bottom: 14px;

    }
  }
}
