$header-height: 52px;
$header-bg: #3e7aab;

.layout {
  height: 100%;
  display: flex;
  &-vertical {
    flex-direction: column;
  }
  &-header {
    height: $header-height;
    background-color: $header-bg;
  }
  &-content {
    flex: 1;
    overflow: hidden;
    display: flex;
    &-container {
      flex: 1;
      overflow: scroll;
      background-color: #eaeef4;
    }
  }
  &-slider {
    width: 300px;
  }
}

.layout-header-class {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  #logo {
    font-size: 28px;
    font-weight: 600;
    color: #fff;
  }
  .extra {
    color: #eaeaea;
    .user-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }
  }
}
