.tags-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  .tag-item {
    cursor: pointer;
    position: relative;

    .ant-tag,
    .ant-tag-custom {
      margin-right: 0;
    }
  }
}

.color-picker {
  .twitter-picker {
    box-shadow: none !important;
  }
}

.ant-form-item-control-input-content {
  .color-picker {
    margin-left: -15px;
  }
}
