.tags-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  .tag-item {
    cursor: pointer;
    position: relative;
    .select-icon {
      position: absolute;
      z-index: 100;
      top: -6px;
      right: 2px;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      background-color: #49d249;
    }
  }
}
.select-icon {
  width: 14px;
  height: 14px;
}

.color-picker {
  .twitter-picker {
    box-shadow: none !important;
  }
}

.ant-form-item-control-input-content {
  .color-picker {
    margin-left: -15px;
  }
}
