
.discussions {
  .actions {
    background: rgba(127, 127, 127, 0.05);
    border-bottom: 1px solid rgba(127, 127, 127, 0.5);
    height: 28px;
    display: flex;
    align-items: center;
    padding: 10px;
    color: #376d98;
  }
}


.discussion-item {
    header {

        color: red;
    }

}