.comment-box {
  display: flex;
  gap: 10px;

  // .avatar {
  //   height: fit-content;
  // }
  .right-area {
    flex: 1;
    header {
      font-size: 15px;
      font-weight: bold;
      color: #777;
      & > span {
        margin-left: 10px;
        color: #aaa;
        font-size: 12px;
      }
    }
    main {
      padding: 10px 0;
    }
  }
}
