html,
body,
#root {
  height: 100vh;
}

/* .list-wrap {
  padding: 10px 16px;
} */

.list-wrap > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-bottom: 10px;
}

.list-wrap .list-wrap-column-actions {
  display: flex;
  gap: 10px;
}

.main-content-area {
  margin: 16px;
  padding: 10px;
  border-radius: 4px;
  background-color: #fff;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.selected-tag-icon {
  position: absolute;
  z-index: 100;
  top: -6px;
  right: 0;
  transform: translateX(50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #49d249;
  font-size: 12px;
}
